<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        rerum nihil, voluptates minus exercitationem magni numquam corrupti
        sequi, architecto nisi iure ea quo dolore, repudiandae in ipsa. Dolorem,
        qui ratione.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        rerum nihil, voluptates minus exercitationem magni numquam corrupti
        sequi, architecto nisi iure ea quo dolore, repudiandae in ipsa. Dolorem,
        qui ratione.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        rerum nihil, voluptates minus exercitationem magni numquam corrupti
        sequi, architecto nisi iure ea quo dolore, repudiandae in ipsa. Dolorem,
        qui ratione.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
